* {
   margin: 0;
   padding: 0;
}

body {
   font-family: sans-serif;
	padding: 10px;
}

.container {
	display: grid;
	grid-template: repeat(1,1fr) / repeat(4,1fr);
	gap: 20px;
}

.post-card {
	box-sizing: border-box;
	border: 5px solid #068f5d;
	padding: 10px;
	background-color: #59f196;
}

.post-card._active {
	border: 5px solid #591902;
	background-color: #c04b31;
}

.card-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.card-title {
	margin-bottom: 10px;
}